@font-face {
  font-family: "MuseoSans-300";
  src: url("../assets/fonts/MuseoSans-300.woff2") format("woff2"),
    url("../assets/fonts/MuseoSans-300.woff") format("woff");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "MuseoSans-500";
  src: url("../assets/fonts/MuseoSans-500.woff2") format("woff2"),
    url("../assets/fonts/MuseoSans-500.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "MuseoSans-700";
  src: url("../assets/fonts/MuseoSans-700.woff2") format("woff2"),
    url("../assets/fonts/MuseoSans-700.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "MuseoSansRounded-700";
  src: url("../assets/fonts/MuseoSansRounded-700.woff2") format("woff2"),
    url("../assets/fonts/MuseoSansRounded-700.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}
