.btn {
  background-color: var(--flamingo-primary-900);
  font-size: var(--flamingo-button-button-text);
  padding: 0.5rem 1.5rem;
  color: var(--specify-button-primary-color);
  display: flex;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  width: 154px;
  height: 56px;
}


